@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	/* Color variables */
	--color-primary: #000000;
	--color-secondary: #ffffff;
	--color-neutral: #808080;
}

@layer base {
	html {
		@apply overflow-hidden;
	}
	html,
	body {
		/* Default */
		@apply dark:bg-primary dark:text-secondary bg-secondary text-primary;

		/* Google font */
		font-family: 'Inter', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
	body {
		@apply fixed inset-0 mx-auto max-w-[1280px] antialiased;
	}

	/* Link styling */
	a {
		@apply relative;
	}
	a::after {
		@apply bg-primary absolute bottom-0 left-0 h-[1px] w-full transition-all duration-300 content-[''];
	}
	[data-theme='dark'] a::after {
		@apply bg-secondary absolute bottom-0 left-0 h-[1px] w-full transition-all duration-300 content-[''];
	}
	a:hover::after {
		@apply w-0;
	}

	/* Font styling */
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	p {
		@apply text-base font-normal;
	}

	/* Main content grid */
	main {
		@apply grid h-full grid-cols-1 gap-3 overflow-y-auto px-3 pt-3 pb-20;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&:-webkit-scrollbar {
			@apply hidden;
		}
	}

	footer {
		@apply absolute inset-x-3 bottom-5 text-center text-xs;
	}
}

@layer components {
	/* Button components */
	.btn {
		@apply dark:bg-secondary bg-primary dark:text-primary text-secondary dark:border-secondary border-primary cursor-pointer rounded-full border px-5 py-3 transition-all duration-300 outline-none select-none;
	}
	.btn:hover {
		@apply sm:dark:bg-primary sm:bg-secondary sm:dark:text-secondary sm:text-primary dark:bg-secondary bg-primary dark:text-primary text-secondary;
	}
	.btn:disabled {
		@apply dark:bg-secondary/0 bg-primary/0 dark:text-secondary text-primary pointer-events-none cursor-default opacity-40;
	}
	.btn.hold {
		@apply dark:text-secondary text-primary relative overflow-hidden bg-transparent;
	}
	.btn.hold:hover {
		@apply dark:text-secondary text-primary;
	}
	.btn.hold:disabled {
		@apply dark:text-secondary text-primary;
	}
	.btn.hold .progress {
		@apply bg-secondary absolute top-0 bottom-0 left-0 z-0 h-full w-0 mix-blend-difference;
	}
	.btn.outline {
		@apply bg-primary/0! dark:text-secondary! text-primary!;
	}
	.btn.outline:hover {
		@apply sm:dark:bg-secondary/5! sm:bg-primary/5! dark:bg-primary/5! bg-secondary/5!;
	}

	/* Input components */
	.input {
		@apply dark:border-secondary/20 border-primary/20 dark:ring-offset-primary dark:text-secondary text-primary ring-offset-secondary appearance-none rounded-full border bg-transparent px-5 py-3 ring-offset-2 outline-none focus:ring-2 focus:outline-none;
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-text-fill-color: var(--color-neutral) !important;
			-webkit-box-shadow: 0 0 0px 1000px transparent inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
	.input:focus {
		@apply dark:ring-secondary/20 ring-primary/20;
	}
}

@layer utilities {
	/* Layout components */
	.align-center {
		@apply items-center justify-center;
	}
}
